---
const { title = "" } = Astro.props;
import MainNavbar from "./MainNavbar.astro";
import { Image } from "astro:assets";
import githubDarkLogo from "@assets/icons/github-dark.png";
import githubWhiteLogo from "@assets/icons/github-white.png";
import "@fontsource/jetbrains-mono";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Ryan Hedgecock{title.length > 0 ? ` - ${title}` : ""}</title>
        <script is:inline>
            if (localStorage.getItem("theme") === null) {
                document.documentElement.setAttribute("data-theme", "dark");
            } else {
                let theme = localStorage.getItem("theme");
                document.documentElement.setAttribute("data-theme", theme);
            }
        </script>
        <script>
            import { themeChange } from "theme-change";
            let theme = localStorage.getItem("theme");
            document.getElementById("theme-toggle").checked = theme === "dark";
            themeChange();
        </script>
    </head>
    <body>
        <MainNavbar>
            <a class="btn btn-ghost normal-case text-xl" href="/">
                hedgecock.dev
            </a>
        </MainNavbar>
        <slot />
    </body>
</html>
